body {
    background-color: lightseagreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#maintitle {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
    font-style: italic;
    color: purple
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container {
    text-align: center;
    font-size: 32px;
    color: darkgreen;
}

ul.list {
    display: inline-block;
    text-align: left;
}